* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
        margin-bottom: 15px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  /* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 20rem;
    margin: 5px 5px;
 
  } */
 
  #txtbox{
      background-color:lavender;
      margin: 5px 5px;
      overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
  }
 
  /* .cardImage {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    align-items: center;
} */

/* Card-Image CSS */
.card-title {
  font-weight: bolder;
  font-size: 15px;
}

.card-img-top {
  /* For the image on the card */
  margin-left: 12%;
  margin-top: 5%;
}

.cardImage {
  width: 98%;
  height: 15vw;
  object-fit: cover;
  align-items: center;
}

/* Whole Page CSS */
.page {
  width: 95%;
  margin: auto;
}

/* For the whole Image Card */
.card {
  height: 95%;
}

.card-text {
  margin-top: 5%;
}

.cardInfo{
  margin: auto auto;
}